[submodule "wingup"]
	path = wingup
	url = https://github.com/gup4win/wingup.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
	branch = 3.12
[submodule "erpc"]
	path = erpc
	url = https://github.com/EmbeddedRPC/erpc.git
