[submodule "wingup"]
	path = wingup
	url = https://github.com/gup4win/wingup.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
