[submodule "wingup"]
	path = wingup
	url = https://github.com/DaisyKid/wingup.git
	branch = update
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
	branch = 3.12
